.addRequest .modal-dialog {
	width: 80% !important;
	height: 100% !important;
	margin: auto !important;
	padding: 0 !important;
	max-width: none !important;
}

.addRequest .modal-content {
	width: 95% !important;
	height: auto !important;
	min-height: 100% !important;
	border-radius: 0 !important;
	margin: auto !important;
	padding: 0 !important;
	justify-content: center;
	background-color: #fff !important;
}

.addRequest .modal-header {
	border-bottom: 1px solid #9ea2a2 !important;
}

.addRequest .modal-body {
	background-color: #fff !important;
	justify-content: center;
	padding: 0px;
	max-height: calc(100vh - 100px);
	height: 100%;
	overflow-y: auto;
}

.addRequest .modal-footer {
	border-top: 1px solid #9ea2a2 !important;
}

.addRequest textarea {
	height: 10vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.input-class {
	position: relative;
	width: 30%;
	height: 12px;
	border: none;
	padding: 0 5px;
	box-shadow: none;
	outline: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.addRequest table {
	width: 90% !important;
	margin: auto !important;
	padding: 0 !important;
}

.addRequest th {
	border-spacing: 5px 15px;
	background-color: rgb(218, 208, 208);
	padding: 5px !important;
}

.addRequest table,
td {
	border-collapse: separate;
	content: "\002b";
	top: 1px;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	height: 3.5vh;
	margin: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 2px;
	border-spacing: 5px 10px;
}

.input-class {
	border: 2px solid rgba(0, 0, 0, 0.15);
}
.input-class:hover {
	border-color: rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.input-class:focus {
	border-color: #4285f4;
	box-shadow: 0 0 10px rgba(66, 133, 244, 0.5);
}
.input-class.shadow-inset:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
.input-class.shadow-inset:focus {
	box-shadow: 0 0 10px rgba(66, 133, 244, 0.5) inset;
}

.label-class {
	border-collapse: separate;
	content: "\002b";
	top: 1px;
	font-style: normal;
	font-weight: 400;
}

.addRequest .action,
.action-remove {
	text-align: right;
	cursor: pointer;
}

.span-add {
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color: #74ad5a;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 6px;
	text-decoration: none;
}
.span-add:hover {
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color: #0a9221;
}
.span-add:active {
	position: relative;
	top: 1px;
}

.span-remove {
	background: linear-gradient(to bottom, #b45e5e 5%, #a54b4b 100%);
	background-color: #74ad5a;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 6px;
	text-decoration: none;
}
.span-remove:hover {
	background: linear-gradient(to bottom, #a54b4b 5%, #ad5a5a 100%);
	background-color: #92150a;
}
.span-remove:active {
	position: relative;
	top: 1px;
}
