.wrapper {
  /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
  /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
}

.wrapper p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.wrapper a,
.wrapper a:hover,
.wrapper a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrapper .navbar-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important;
  border: none;
}

.wrapper .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper #sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: scroll;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.wrapper #sidebar.active {
  right: 0;
}

.wrapper #dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper #dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.wrapper .overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.wrapper .overlay.active {
  display: block;
  opacity: 1;
}

.wrapper #sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

.wrapper #sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.wrapper #sidebar ul p {
  color: #fff;
  padding: 10px;
}

.wrapper #sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.wrapper #sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

.wrapper #sidebar ul li.active > a,
.wrapper a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

.wrapper a[data-toggle="collapse"] {
  position: relative;
}

.wrapper .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

.wrapper ul.CTAs {
  padding: 20px;
}

.wrapper ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.wrapper a.logout {
  background: #fff;
  color: #7386D5;
}
/*# sourceMappingURL=sidebar.css.map */