@import '../global';

::selection { background-color: $primary-color-light; color: white; }
::-moz-selection { background-color: $primary-color-light; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	color: #4F5155;
	margin: 0 15px 0 15px;
}

.main-container {
	margin: 30px 25px;
}

.error {
	width: 100%;
	text-align: center;
	padding: 25px;
	margin: 40px 0 0 0;
	&.no-data-found{
		font-size: 35px;
	}
}
