// $primary-color: #283a6b;
// $primary-color-light: #475a8d;

$primary-color: rgb(94, 94, 94);
$primary-color-light: rgb(141, 141, 141);
$secondary-color: #FFFFFF;
$gray: rgb(230, 230, 230);
$red: rgb(167, 81, 81);
$black: #000;
$white: #FFFFFF;