@import '../global';

.notification {
    width: 100%;
    height: 60px;
    position: absolute;
    &-failed {
        background-color: rgba($color: #d16c6c, $alpha: 0.5);
    }
    &-success {
        background-color: rgba($color: #84d16c, $alpha: 0.5);
    }
}

.logout {
    &.btn-danger {
        color: $white;
    }
}

.login {
    &-title{
        text-align: center;
        //font style
        font-size: 30px;
        padding: 20px;
    }

    &-form {
        width: 25%;
        border: 1px solid #c5c5c5;
        border-radius: 15px;
        padding: 25px 40px;

        .btn {
            width: 100%;
        }
    }
}
    
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    &-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
    background: #2b2f3a;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.85em;    
    transition: all 0.3s;
    span {
        display: none;
    }
    h3{
        display: none;
    } 
    &.active {
        min-width: 300px;
        max-width: 300px;
        color: #fff;
        text-align: left;
        span { //Menu Items in sidebar
            display: inline-block;
            font-size: 18px;
            padding: 0px 10px;
        }       
        h3 {
            display: block;
            font-size: 22px;
            padding: 10px!important;
        }
        .sidebar-header {
            background: #2b2f3a;
            .btn {
                background-color: transparent;
                width: 100%;
                outline: none;
                .fa-bars{
                    color: $white;
                    font-size: 30px;
                    float: right;
                }            
            }
        }        
    }
    &.active .sidebar-header strong {
        display: block;
    }
    .sidebar-header {
        background: #2b2f3a;
        .btn {
            background-color: transparent;
            width: 100%;
            outline: none;
            .fa-bars{
                color: $white;
                font-size: 30px;
            }            
        }
    }
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #919ba0;
    }
    ul {
        li {
            ul {
                li {
                    background-color: #2b2f3a;
                }
            }
            a {
                padding: 17px 13px;
                font-size: 1.1em;
                display: block;
                text-decoration: none;
                color: $white;
                &:hover {
                    color: #2b2f3a;
                    background: $white;
                }
                .fa {
                    font-size: 25px!important;
            }        
            }
        }
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #2b2f3a;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    LABELS
----------------------------------------------------- */
.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    border-radius: 0.25rem;
    font-size: 75%; 
    &-success {
        background-color: #36bea6; 
    }
    &-info {
        background-color: #009efb; 
    }
    &-warning {
        background-color: #ffbc34; 
    }
    &-danger {
        background-color: #f62d51; 
    }
}



/* ---------------------------------------------------
    Table
----------------------------------------------------- */

.txt-oflo {
  padding: 3px 8px;
  line-height: 12px;
  color: #000000;
  font-weight: 400;
  border-radius: 0.25rem;
  font-size: 80%; }

/* ---------------------------------------------------
    Tabs
----------------------------------------------------- */

.content-tab {
    padding: 10%;
    margin-top: -8%;
    &#tabs{
        background: #007b5e;
        color: #eee;
    }
    &.content-tab #tabs h6.section-title{
        color: #eee;
    }
    &.content-tab {
        .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #0062cc;
            font-size: 16px;
            font-weight: 600;
            &:hover {
                border: none;
            }
        }
        &#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #0062cc;
            background-color: transparent;
            border-color: transparent transparent #f3f3f3;
            border-bottom: 3px solid !important;
            font-size: 16px;
            font-weight: bold;
        }
    }
    &.content-tab thead{
        background: #f3f3f3;
        color: #333;
    }
    &.content-tab a{
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }
    &.container-main {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }    
}
