@import '../global';

/* ---------------------------------------------------
    Header
----------------------------------------------------- */

.header {
    &.name{
        font-family: 'Raleway', sans-serif;
        padding-top: 30px;
    }
    &.filters{
        font-family: 'Montserrat', sans-serif;
        padding-top: 0px;
        .btn{
            margin-right: 5px;
            font-size: 0.875rem;
        }
        .search{
            color: #343a40;
            border: 1px solid #343a40;
            border-radius: .25rem;
            
            &.icon{
                //border-right: 0;
                align-items: center;
                padding: .375rem .75rem;
            }
            &.field{
                border-left: 0;
                margin-right: 5px;
                border: 0px;
            }
            &.fa-search{
                padding: 0 0 0 10px;
            }
        }
    }
    &.logo{
        padding-left: 0;
    }
    &.accounts{
        .tabs li{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.875rem;
            display: inline;
            padding: 10px 13px 0 0;
            a{
                color: #343a40;
            }
        }
        .identifier {
            margin: 0 0 0 20px;
        }
    }
}

/* ---------------------------------------------------
    Dashboard
----------------------------------------------------- */

.dashboard{
    &.nav{
        .nav-item{
            &.active {
                font-family: 'Montserrat', sans-serif;
                text-decoration: underline;
            }
        }
        background-color: #343a40;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.875rem;
        color: #343a40;
        border: 1px solid;
        border-color: #343a40;
        a{
            color:white;
        }
    }
    &.table{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.75rem;
    }
}