@import '../global';

/* ---------------------------------------------------
    Header
----------------------------------------------------- */

.header {
    &.name{
        font-family: 'Raleway', sans-serif;
        padding-top: 30px;
    }
    &.filters{
        font-family: 'Montserrat', sans-serif;
        padding-top: 0px;
        .btn{
            margin-right: 5px;
            font-size: 0.875rem;
        }
        .search{
            color: #343a40;
            border: 1px solid;
            border-color: #343a40;
            
            &.icon{
                border-right: 0;
                align-items: center;
                padding: .375rem .75rem;
                border-radius: .25rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &.field{
                border-radius: .25rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
            }
        }
    }
    &.logo{
        padding-left: 0;
    }
    &.accounts{
        .tabs li{
            font-family: 'Montserrat', sans-serif;
            font-size: 0.875rem;
            display: inline;
            padding-top: 10px;
            padding-left: 10px;
            a{
                color: #343a40;
            }
        }
    }
}

